services:
  aids-backend:
    build:
      context: ./backend
    image: aids-backend
    networks:
      - aids-network
    volumes:
      - db-data:/app/.data

  aids-frontend:
    build:
      context: ./aids-frontend
    image: aids-frontend
    networks:
      - aids-network

  aids-envoy:
    image: envoyproxy/envoy:v1.29-latest
    ports:
      - "80:80"
    volumes:
      - ./envoy.yaml:/etc/envoy/envoy.yaml:ro
    networks:
      - aids-network


volumes:
  db-data:

networks:
  aids-network:
    driver: bridge
